

#app {
  max-width: 2000px;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgb(89, 16, 16);
  font-weight: normal;
}


.score {
  margin: auto;
  padding: 10px;
}
h1,
h2,
h3,
h4 {
  color: rgb(0, 0, 0);
}
.header {
  font-size: 50px;
  color: rgb(251, 200, 16);
}

body{
  margin: auto;
  width: auto;
  padding: 20px;
}





@media (min-width: 1024px) {
  body {

    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}


